
<!-- end header -->
 <section id="featured">
    <!-- start slider -->
    <!-- Slider -->
    <div id="nivo-slider">
      <div class="nivo-slider">
        <!-- Slide #1 image -->
        <img src="assets/img/slides/nivo/vmware1.jpg" alt="" />
        <!-- Slide #2 image -->
        <img src="assets/img/slides/nivo/vmware2.jpg" alt="" />


         <!---Side #4 image-->
         <img src="assets/img/slides/nivo/vmware3.jpg" alt=""/>


        <!-- Slide #3 image -->
        <img src="assets/img/slides/nivo/Database1.jpg" alt=""/>
        <!-- Slide #4 image -->

        <img src="assets/img/slides/nivo/Database2.jpg" alt=""/>
        <!-- Slide #4 image -->

        <img src="assets/img/slides/nivo/Database3.jpg" alt=""/>
        <!-- Slide #4 image -->

        
      </div>
     <!-- <div class="container">
        <div class="row">
          <div class="span12">
            <!-- Slide #1 caption -->
           <!-- <div class="nivo-caption" id="caption-1">
              <div>
                <h2>Awesome <strong>Products</strong></h2>
                <p>
                  Over the years we have built a strong relationship with our customers by supplying them durable products with less costs.
                </p>
                <a href="#" class="btn btn-theme">Read More</a>
              </div>
            </div>
            <!-- Slide #2 caption -->
           <!-- <div class="nivo-caption" id="caption-2">
              <div>
                <h2>Quality of <strong>Services</strong></h2>
                <p>
                  We are an organization where we believe in giving out great solution base to our customers 
                </p>
                <a href="#" class="btn btn-theme">Read More</a>
              </div>
            </div>
            <!-- Slide #3 caption -->
           <!-- <div class="nivo-caption" id="caption-3">
              <div>
                <h2>Business <strong>Intelligence</strong></h2>
                <p>
                  We propose a better array of options for less costs to boost your company product and service output
                </p>
                <a href="#" class="btn btn-theme">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
    <!-- end slider -->
  </section>
  <section class="callaction">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="big-cta">
            <div class="cta-text">
              <h3>We've provided Solutions and support to  over<span class="highlight"><strong>70 Clients </strong></span> this year!</h3>
            </div>
            <div class="cta floatright">
              <a class="btn btn-large btn-theme btn-rounded" href="#">Chat with Bot</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter icon">
                  <i class="icon-briefcase icon-circled icon-64 active"></i>
                </div>
                <div class="text">
                  <h6>Top Products</h6>
                  <p>
                    Virtualization -VMWARE
                  </p>
                  <a href="#">Know more</a>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter icon">
                  <i class="icon-desktop icon-circled icon-64 active"></i>
                </div>
                <div class="text">
                  <h6>Top Products</h6>
                  <p>
                    IBM DB2
                  </p>
                  <a href="#">Know more</a>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter icon">
                  <i class="icon-beaker icon-circled icon-64 active"></i>
                </div>
                <div class="text">
                  <h6>Top Solutions</h6>
                  <p>
                    Business Intelligence
                  </p>
                  <a href="#">Know more</a>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter icon">
                  <i class="icon-coffee icon-circled icon-64 active"></i>
                </div>
                <div class="text">
                  <h6>Top Solutions</h6>
                  <p>
                    Real-time Continuous Backup
                  </p>
                  <a href="#">Know more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- divider -->
      <div class="row">
        <div class="span12">
          <div class="solidline">
          </div>
        </div>
      </div>
      <!-- end divider -->
      <!-- Portfolio Projects -->
      <div class="row">
        <div class="span12">
          <h4 class="heading">Some of our  <strong>Partners</strong></h4>
          <div class="row">
            <section id="projects">
              <ul id="thumbs" class="portfolio">
                <!-- Item Project and Filter Name -->
                <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                  <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="assets/img/works/full/REDHAT.jpg">
          <span class="overlay-img"></span>
          <span class="overlay-img-thumb font-icon-plus"></span>
          </a>
                  <!-- Thumb Image and Description -->
                  <img src="assets/img/works/thumbs/ORACLE.jpg" alt="this is a picture to display what we have done">
                </li>
                <!-- End Item Project -->
                <!-- Item Project and Filter Name -->
                <li class="item-thumbs span3 design" data-id="id-1" data-type="icon">
                  <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="assets/img/works/full/ZIBRA.jpg">
          <span class="overlay-img"></span>
          <span class="overlay-img-thumb font-icon-plus"></span>
          </a>
                  <!-- Thumb Image and Description -->
                  <img src="assets/img/works/thumbs/IBM.jpg" alt="this is a picture to display what we have done">
                </li>
                <!-- End Item Project -->
                <!-- Item Project and Filter Name -->
                <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                  <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="assets/img/works/full/ZIBRA.jpg">
          <span class="overlay-img"></span>
          <span class="overlay-img-thumb font-icon-plus"></span>
          </a>
                  <!-- Thumb Image and Description -->
                  <img src="assets/img/works/thumbs/REDHAT.jpg" alt="this is a picture to display what we have done">
                </li>
                <!-- End Item Project -->
                <!-- Item Project and Filter Name -->
                <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                  <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="assets/img/works/full/REDHAT.jpg">
          <span class="overlay-img"></span>
          <span class="overlay-img-thumb font-icon-plus"></span>
          </a>
                  <!-- Thumb Image and Description -->
                  <img src="assets/img/works/thumbs/ZIBRA.jpg" alt="this is a picture to display what we have done">
                </li>
                <!-- End Item Project -->
                <!-- Item Project and Filter Name -->
                <li class="item-thumbs span3 photography" data-id="id-4" data-type="web">
                  <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea" href="assets/img/works/full/REDHAT.jpg">
          <span class="overlay-img"></span>
          <span class="overlay-img-thumb font-icon-plus"></span>
          </a>
                  <!-- Thumb Image and Description -->
                  <img src="assets/img/works/thumbs/IBM.jpg" alt="this is a picture to display what we have done">
                </li>
                <!-- End Item Project -->
                <!-- Item Project and Filter Name -->
                <li class="item-thumbs span3 photography" data-id="id-5" data-type="icon">
                  <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="assets/img/works/full/IBM.jpg">
          <span class="overlay-img"></span>
          <span class="overlay-img-thumb font-icon-plus"></span>
          </a>
                  <!-- Thumb Image and Description -->
                  <img src="assets/img/works/thumbs/REDHAT.jpg" alt="this is a picture to display what we have done">
                </li>
                <!-- End Item Project -->
                <!-- Item Project and Filter Name -->
                <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                  <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="assets/img/works/full/ZIBRA.png">
          <span class="overlay-img"></span>
          <span class="overlay-img-thumb font-icon-plus"></span>
          </a>
                  <!-- Thumb Image and Description -->
                  <img src="assets/img/works/thumbs/ZIBRA.jpg" alt="this is a picture to display what we have done">
                </li>
                <!-- End Item Project -->
                <!-- Item Project and Filter Name -->
                <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                  <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="assets/img/works/full/REDHAT.jpg">
          <span class="overlay-img"></span>
          <span class="overlay-img-thumb font-icon-plus"></span>
          </a>
                  <!-- Thumb Image and Description -->
                  <img src="assets/img/works/thumbs/ORACLE.jpg" alt="means">
                </li>
                <!-- End Item Project -->
              </ul>
            </section>
          </div>
        </div>
      </div>
      <!-- End Portfolio Projects -->
      <!-- divider -->
      <div class="row">
        <div class="span12">
          <div class="solidline">
          </div>
        </div>
      </div>
      <!-- end divider -->
      <app-client></app-client>
    </div>
  </section>
  <app-footer></app-footer>
  


 
  
 