<div class="row">
    <div class="span12">
      <h4>Our <strong>clients</strong></h4>
      <ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients">
        <li>
          <a href="#">
    <img src="assets/img/dummies/clients/GCB.jpg" class="client-logo" alt="" />
    </a>
        </li>
        <li>
          <a href="#">
    <img src="assets/img/dummies/clients/NIB.jpg" class="client-logo" alt="" />
    </a>
        </li>
        <li>
          <a href="#">
    <img src="assets/img/dummies/clients/CBG.jpg" class="client-logo" alt="" />
    </a>
        </li>
        <li>
          <a href="#">
    <img src="assets/img/dummies/clients/NCA.jpg" class="client-logo" alt="" />
    </a>
        </li>
        <li>
          <a href="#">
    <img src="assets/img/dummies/clients/gpride.jpg" class="client-logo" alt="" />
    </a>
        </li>
        <li>
          <a href="#">
    <img src="assets/img/dummies/clients/OAK.jpg" class="client-logo" alt="" />
    </a>
        </li>
        <li>
          <a href="#">
    <img src="assets/img/dummies/clients/GCNET.jpg" class="client-logo" alt="" />
    </a>
        </li>
        <li>
          <a href="#">
    <img src="assets/img/dummies/clients/SAGE.jpg" class="client-logo" alt="" />
    </a>
        </li>
       
      </ul>
    </div>
  </div>