


<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2>About us</h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="#">Home</a><i class="icon-angle-right"></i></li>
          <li class="active">About us</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h2>Welcome to <strong>Enterprise Computing</strong></h2>
        <p>
          ENTERPRISE COMPUTING LIMITED (ECL) founded in 2006 attained early success by providing
          financial institutions with real-time backup solutions for critical applications thereby significantly
          increasing uptime for key applications such as core-banking, database and email applications.
          In 2009 as organizations increasingly researched ways of reducing cost, Enterprise Computing
          started deploying VMware, the leading virtualization solution to help organizations reduce server
          acquisition and management costs by up to 70%. 
        </p>
        <p>
          Our success in helping our clients increase
          operational efficiencies whiles at the same time significantly reducing cost helped to cement our
          reputation as the Solution’s Provider of choice.
        </p>
        
      </div>
      <div class="span6">
        <!-- start flexslider -->
        <div class="flexslider">
          <ul class="slides">
            <li>
              <img src="assets/img/works/full/ORACLE.jpg" alt="" />
            </li>
            <li>
              <img src="assets/img/works/full/IBM.jpg" alt="" />
            </li>
            <li>
              <img src="assets/img/works/full/ZIBRA.jpg" alt="" />
            </li>
          </ul>
        </div>
        <!-- end flexslider -->
      </div>
    </div>
    <!-- divider -->
    <div class="row">
      <div class="span12">
        <div class="solidline">
        </div>
      </div>
    </div>
    <!-- end divider -->
    
    <div class="row">
      <div class="span6">
        <h4>More about us</h4>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          What we do </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <p>
                  At the core of our operations is the design and deployment of simplified solutions with very short
                  learning curves that helps to empower the IT team to make their work more productive. With I.T.
                  running efficiently, uptimes are maximized leading to faster turn-around times for customers of our
                  clients.
                  We take delight in partnering with our customers to understand their business needs and pain
                  points so as to provide solutions and support that are configured to their needs.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Mission </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  Our mission is to work with best-in-class partners and technology to provide simple but robust
                valued added solutions to our customers.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          Vision </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  Our vision is to be a trusted ICT Solutions adviser to our customers whiles delivering best customer
                    experience.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          What we can deliver </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                  Our objective is to remove I.T. complexity to enable our clients become more agile through
                  technology.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span6">
        <h4>Our expertise</h4>
        <label>Disaster Recovery</label>
        <div class="progress progress-info progress-striped active">
          <div class="bar" style="width: 99.99%">
          </div>
        </div>
        <label>Virtualization :</label>
        <div class="progress progress-success progress-striped active">
          <div class="bar" style="width: 100%">
          </div>
        </div>
        <label>Database Storage and Management:</label>
        <div class="progress progress-warning progress-striped active">
          <div class="bar" style="width: 100%">
          </div>
        </div>
        <label> Ecloud backup:</label>
        <div class="progress progress-danger progress-striped active">
          <div class="bar" style="width: 100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

